header.header
  .header__logo
    a(href="/")
      img(src="../../images/logo/lg-logo.png" alt="logo image")
  nav.nav
    ul.nav__list
      li.nav__item
        a(href="/news") お知らせ

  nav#nav-drawer.nav
    input(type="checkbox")#nav-input.nav__unshown
    label(for="nav-input")#nav-open
      span
    label(for="nav-input")#nav-close.nav__unshown
    #nav-content
      ul.nav__list--sp
        li.nav__item
          a(href="/news") お知らせ
